
<div class="wrapper" id="views-admin-dashboard-index">
  <nav class="sidebar" id="sidebar">
    <div class="sidebar-header"> 
      <a href = / > 
        Zeny
      </a>
    </div>
    <ul class="list-unstyled components">
      <li>
        <%= link_to manage_index_path do %>
          Đơn hàng
          <div class="badge badge-warning">
								<%= @hopdong.size %>
							</div>
        <% end %>
      </li>
      <li class="active"><%= link_to 'Thống kê', analysis_index_path %></a></li>
      <li><%= link_to 'Khuyến mại', khuyenmais_path %></a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="btn btn-info" id="sidebarCollapse" type="button">
          <i class="fa fa-align-justify"></i>
          <span>Toggle Sidebar</span>
        </button>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="btn btn-dark d-inline-block d-lg-none ml-auto" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item activeroute"> 
              <a class="nav-link" href= / > 
              <i class="fa fa-home"></i> Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" rel="nofollow" data-method="delete" href="/users/sign_out">
                <i class="fa fa-sign-out"></i> Logout 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= render "admins/shared/flash_message"%>
    <h2>Đơn hàng</h2>
    <div id="product-list">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#menu1">Sô lượng bán ra trong tuần</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#home">Thông tin hàng</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane container fade" id="home">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Tên SP</th>
                <th>SL Đã bán</th>
                <th>SL Nhập Vào</th>
                <th>Còn Lại</th>
              </tr>
            </thead>
            <tbody>
              <% @product.each do |key, val| %>
                <tr>
                  <td>
                    <%= name_analysis(key) %>
                  </td>
                  <td>
                    <%= total_product(key).to_i %>
                  </td>
                  <td>
                    <%= total_buy(key).to_i %>
                  </td>
                  <td>
                    <%= val.to_i %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>  
        <div class="tab-pane container active" id="menu1">
          <%= column_chart Chitiethdmuahang.group_by_day_of_week(:created_at, format: "%a").count %>
        </div>
        <div class="tab-pane container fade" id="menu2">
        </div>
          
      </div>
    </div>  
  </div>  
</div>
      