<div class="wrapper" id="views-admin-dashboard-index">
    <%= render "shared/side_bar" %>
    <%= render "admins/shared/flash_message"%>
    <h2>Đơn hàng</h2>
    <div id="product-list">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Họ KH</th>
            <th>Tên KH</th>
            <th>Số điện thoại</th>
            <th>Địa Chỉ</th>
            <th>Sản phẩm</th>
            <th>Tổng Tiền(VND)</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
          <tbody>
          <% @hopdong.each do |hd| %>
            <tr>
              <td>
                <%= hd.khachhang.ho %>
              </td>
              <td>
                <%= hd.khachhang.ten %>
              </td>
              <td>
                <%= hd.khachhang.sdt %>
              </td>
              <td>
                <%= hd.khachhang.diachi %>
              </td>
              <td>
                <% hd.chitiethdmuahangs.each do |item| %>
                  <%= item.sanpham.tensp %>
                  <%= item.soluong%>
                  <%= item.dongia%>
                <% end %>
              </td>
              <td>
                <%= hd.total_cost(hd.chitiethdmuahangs) %>
              </td>
              <td>
                <%= link_to hd.trangthaihd, manage_path(hd.id), method: :patch, class: "btn btn-outline-info" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  